# This useful little ignore file are modified from Jason Stitt
# who post this article on his blog:
# https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/src/**
!/test/**
!/examples/**
# You can be specific with these rules
!.gitignore
!LICENSE
!README.md